<!DOCTYPE html>
<html>
  <head>
    <title>Purrojects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=BenchNine:700&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>"
        };
      </script>

    <% end %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
      <script type="text/javascript">
          window.logo = "<%= image_url('purrojects.png') %>";
          window.logo_large = "<%= image_url('logo_large.png') %>";
          window.modal_header = "<%= image_url('modal-header.jpg') %>";
          window.caret = "<%= image_url('caret.png') %>";
          window.user = "<%= image_url("https://placekitten.com/60/60?image=#{rand(16)}") %>";
      </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>